<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DonattoMinaya AdrianMauro">
    <meta name="description" content="Página administrativa de Vivian">
    <meta name="keywords" content="Restaurante Recetas Comida">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/corazon.jpg}" href="../static/img/corazon.jpg" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/forgotpassword.css}" href="../static/css/forgotpassword.css">
    <title>Contrase&#241;a olvidada</title>
</head>
<body>
    <div class="container-logo">
        <div class="logo">
            <img src="../static/img/corazon.jpg" alt="">
        </div>
    </div>

    <div class="container-form">
        <div class="form-min">
            <div class="form">
                <form action="">
                    <div class="header-h3-github ">
                        Contraseña olvidada?
                    </div>

                    <div class="description">
                        <span>Se te enviará un correo de confirmación donde podrás cambiar la contraseña</span>
                    </div>

                    <div class="block-input">
                        <div class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </div>
                        <div class="input-email">
                            <input type="email" name="username" id="username" placeholder="Ingresa tu usuario o correo" minlength="4" maxlength="50" />
                        </div>
                    </div>

                    <div class="action-buttons">
                        <button class="principal">Enviar</button>
                        <button class="ghostly">Volver al inicio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>