<div th:fragment="gs">
<div id="fake-container-body">
            <div class="structure">
                <div class="simple-div-card">
                    <div class="description">
                        <div class="header-h3-github">
                            Los productos más vendidos y solicitados
                        </div>

                        <div class="progress">
                            <div class="products">
                                <div class="prod">
                                    <span>Producto:</span> <p>hola</p>
                                </div>

                                <div class="prod">
                                    <span>Precio:</span> <p>hola</p>
                                </div>

                                <div class="prod">
                                    <span>Última Venta:</span> <p>hola</p>
                                </div>

                                <div class="prod">
                                    <span>Ganancias:</span> <p>hola</p>
                                </div>
                            </div>

                            <div class="products">
                                <div class="prod">
                                    <span>Producto:</span> <p>hola</p>
                                </div>

                                <div class="prod">
                                    <span>Precio:</span> <p>hola</p>
                                </div>

                                <div class="prod">
                                    <span>Última Venta:</span> <p>hola</p>
                                </div>

                                <div class="prod">
                                    <span>Ganancias:</span> <p>hola</p>
                                </div>
                            </div>
                        </div>

                        <button id="productos2" class="ghostly">Ver completo</button>
                    </div>
                </div>

                <div class="simple-div-card">
                    <div class="description">
                        <div class="header-h3-github">
                            Reservaciones totales
                        </div>

                        <div class="progress">

                        </div>
                    </div>
                </div>

                <div class="simple-div-card">
                    <div class="description">
                        <div class="header-h3-github">
                            Solicitudes de Delivery
                        </div>

                        <div class="progress">

                        </div>
                    </div>
                </div>
            </div>



            <div class="structure">
                <div class="longest-div-card">

                </div>
            </div>
        </div>
</div>