<div th:fragment="usuarios">
<div id="fake-container-body">
	<div id="table-admins">
		<table class="table" id="tUsuario">
            <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Nombres</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Usuario</th>
                <th class="text-center">Telefono</th>
                <th class="text-center">Fecha Registro</th>
                <th class="text-center">Tipo usuario</th>
                <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="adminuser:${adminusers}">
                <td th:text="${adminuser.id}"></td>
                <td th:text="${adminuser.dni}"></td>
                <td th:text="${adminuser.nombresUsuario}"></td>
                <td th:text="${adminuser.apellidosUsuario}"></td>
                <td th:text="${adminuser.username}"></td>
                <td th:text="${adminuser.telefono}"></td>
                <td th:text="${adminuser.fechaRegistro}"></td>
                <td th:text="${adminuser.activoString()}"></td>
                <td class="text-center"></td>
            </tr>
            </tbody>
        </table>
	</div>
</div>
</div>