<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DonattoMinaya AdrianMauro">
    <meta name="description" content="Página administrativa de Vivian">
    <meta name="keywords" content="Restaurante Recetas Comida">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/initial-progress.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}" >
    <title>Bienvenido a Vivian!</title>
</head>
<body>
    <div class="container">
        <div class="fondo"></div>
        <div class="login">
            <div class="form-login">
                <form th:action="@{/principal}" method="post">
                    <div class="block-form">
                        <div>
                            <img th:src="@{/img/corazon.jpg}" alt="" />
                        </div>
                    </div>
                    <div class="block-form">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="email" name="email" id="email" th:value="${email}" placeholder="Ingresa tu usuario o correo" minlength="4" maxlength="50" />
                    </div>
    
                    <div class="block-form">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="clave" id="clave" placeholder="Tu contraseña" minlength="4" maxlength="20" />
                    </div>

    
                    <div class="block-form">
                        <button type="submit" class="principal">INGRESAR</button>
                    </div>
                </form>
                <span id="errorMsg" th:if="${errorMsg}" th:text="${errorMsg}"></span>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            showErrorMsg();
        });

        function showErrorMsg(){
            let msgError = document.querySelector("#errorMsg");
            if (msgError){
                setTimeout(function(){
                    msgError.remove();
                }, 2500);
            }
        }
    </script>
</body>
</html>