<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DonattoMinaya AdrianMauro">
    <meta name="description" content="Página administrativa de Vivian">
    <meta name="keywords" content="Restaurante Recetas Comida">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/corazon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/initial-progress.css">
    <title>Vivian &#124; Sala de Progreso</title>
</head>
<body>
    <div id="fake-aside">
        <div id="fake-min-aside">
            <div class="min-container">
                <div class="action-block">
                    <div class="icon">
                        <ion-icon name="clipboard"></ion-icon>
                    </div>

                    <div class="link">
                        <a href="">Resumen General</a>
                    </div>
                </div>

                <div class="action-block">
                    <div class="icon">
                        <ion-icon name="albums"></ion-icon>
                    </div>

                    <div class="link">
                        <a href="">Ver Registro de Ventas</a>
                    </div>
                </div>

                <div class="action-block">
                    <div class="icon">
                        <ion-icon name="cart"></ion-icon>
                    </div>

                    <div class="link">
                        <a href="">Ver Productos</a>
                    </div>
                </div>

                <div class="action-block">
                    <div class="icon">
                        <ion-icon name="restaurant"></ion-icon>
                    </div>

                    <div class="link">
                        <a href="">Ver Reservaciones</a>
                    </div>
                </div>

                <div class="action-block">
                    <div class="icon">
                        <ion-icon name="people"></ion-icon>
                    </div>

                    <div class="link">
                        <a href="">Ver Usuarios</a>
                    </div>
                </div>

                <div class="action-block">
                    <div class="icon">
                        <ion-icon name="chatbubbles"></ion-icon>
                    </div>

                    <div class="link">
                        <a href="">Conversaciones</a>
                    </div>
                </div>

                <div class="action-block">
                    <div class="icon">
                        <ion-icon name="construct"></ion-icon>
                    </div>

                    <div class="link">
                        <a href="">Datos de Vivian</a>
                    </div>
                </div>
            </div>
    
            <div class="min-container-icon" onclick="toggleMenu()">
                <ion-icon name="menu"></ion-icon>
            </div>
        </div>
    </div>

    <div id="fake-body">
        <div id="fake-min-body">
            <div id="fake-header">
                <div class="header-nav">
                    <div class="left">
                        <div class="logo">
                            <img src="img/corazon.jpg" alt="logo">
                        </div>

                        <div class="company">
                            <span>Vivian</span>
                        </div>
                    </div>

                    <div class="right"></div>
                </div>
            </div>

            <div id="fake-container-body">
                <div class="structure">
                    <div class="first">

                    </div>
                    <div class="second"></div>
                    <div class="third"></div>
                </div>

                <div class="structure2">
                    <div class="central">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleMenu() {
            
        }
    </script>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>